.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

.form-group{
  margin-top: 5%;
}


.btn {
  margin-top: 1.5rem;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}
.card-body{
  border-width: 10px;
}

.custom-btn {
  background-color: #4e9ad0; /* Purple-blue button color */
  border-color: #4e9ad0;
  color: #ffffff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #8CBEE2; /* Light blue on hover */
  border-color: #8CBEE2;
  color: #ffffff;
}